:root{
  --accent: hsl(219, 53%, 48%);
  --accent-light: hsl(219, 53%, 68%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(220, 13%, 91%);
  --gray-darken: hsl(0, 0%, 52%);
  --gray-lighten: hsl(0, 0%, 87%);
  --light-blue: hsl(195, 53%, 79%);
  --green: hsl(152, 44%, 50%);
  --disabled-btn: hsl(219, 53%, 82%);
  --greeting-text: hsl(215, 42%, 35%);
  --greeting-subtext: hsl(0, 0%, 50%);
  --icon-color: hsl(0, 0%, 60%);
  --header-bg: hsl(0, 0%, 98%);
  --header-text-color: hsl(0, 0%, 35%);
  --header-text-color-hover: hsl(0, 0%, 53%);
}